html, body {
  height: 100%;
  margin:0;
}

#root{
  height: 100%;
}

.App {
  text-align: center;
  background-color: #414141;
  color:#dfdfdf; 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test {
  margin-top: 15px;
}

